desktop:
  resolution:
    width: 1920
    height: 1080
  allow_resize: true
  pixel_depth: 24

network:
  protocol: http
  interface: 0.0.0.0
  websocket_port: {{ kasmvnc_port }}
  ssl:
    require_ssl: true
    pem_certificate: /etc/kasmvnc/self.pem
    pem_key: /etc/kasmvnc/self.pem

server:
  http:
    httpd_directory: /usr/share/kasmvnc/www

security:
  brute_force_protection:
    blacklist_threshold: 100
    blacklist_timeout: 1

data_loss_prevention:
  clipboard:
    server_to_client:
      enabled: true
      size: unlimited
    client_to_server:
      enabled: true
      size: unlimited

command_line:
  prompt: false
