[Unit]
Description=KasmVNC WebRTC Remote Desktop Service
After=network.target graphical.target
Wants=graphical.target

[Service]
Type=forking
User={{ ansible_user }}
Group={{ ansible_user }}
Environment=HOME=/home/{{ ansible_user }}
ExecStart=/usr/bin/vncserver :1 -httpd /usr/share/kasmvnc/www -config /home/{{ ansible_user }}/.vnc/kasmvnc.yaml -websocketPort {{ kasmvnc_port }}
ExecStop=/usr/bin/vncserver -kill :1
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
