# Sunshine Configuration for Isaac Automator
origin_pin_allowed = 2
port = {{ sunshine_port }}
encoder = nvenc
nvenc_preset = 1
min_threads = 2
flags = 0
audio_sink = dummy
gamepad = auto
keyboard = auto
mouse = auto
