ACTION=="add", SUBSYSTEM=="usb-serial", DRIVER=="ftdi_sio", ATTR{latency_timer}="1"
ACTION=="add", SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ATTR{device/latency_timer}="1"
ACTION=="add", SUBSYSTEM=="tty", KERNEL=="ttyACM*", ATTR{device/latency_timer}="1"
