[Desktop Entry]
Version=1.0
Type=Application
Name=LeRobot Teleop & Visualizer
Comment=Launch Hugging Face LeRobot dataset visualizer and teleoperation tools
Exec=gnome-terminal -- /bin/bash -c "DISPLAY=:0 {{ lerobot_dir }}/lerobot-teleop.sh; exec bash"
Icon=utilities-terminal
Terminal=false
Categories=Development;Science;Robotics;
