global
    maxconn 128
    nbthread 1

defaults
    mode tcp
    timeout connect 5s
    timeout client 60s
    timeout server 60s

resolvers docker
    nameserver docker 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s

frontend neo4j_http
    bind :7474
    default_backend neo4j_http_backend

backend neo4j_http_backend
    server graph automator-neo4j:7474 check resolvers docker init-addr libc,none

frontend neo4j_bolt
    bind :7687
    default_backend neo4j_bolt_backend

backend neo4j_bolt_backend
    server graph automator-neo4j:7687 check resolvers docker init-addr libc,none
